/* Reset */
* {box-sizing: border-box;}

/* Design system */

:root {
    /* Colors */
    --darkest-grey: hsl(192, 10%, 10%);
    --dark-grey: hsl(192, 10%, 20%);
    --grey: hsl(190, 20%, 30%);
    --light-grey: hsl(190, 10%, 50%);
    --lightest-grey: hsl(190, 10%, 80%);

    --background-grey: hsl(190, 10%, 95%);

    --darkest-primary: hsl(190, 72%, 20%);
    --dark-primary: hsl(190, 72%, 30%);
    --primary: hsl(190, 72%, 48%);
    --light-primary: hsl(190, 72%, 60%);
    --lightest-primary: hsl(190, 72%, 80%);

    --darkest-accent: hsl(79, 50%, 25%);
    --dark-accent: hsl(79, 50%, 50%);
    --accent: hsl(79, 50%, 75%);
    --light-accent: hsl(79, 50%, 85%);
    --lightest-accent: hsl(79, 50%, 95%);

    --dark-alert: hsl(7, 90%, 57%);
    -alert: hsl(7, 90%, 65%);
    --light-alert: hsl(7, 88%, 90%);

    /* Font size */
    --base: 16px;
    --larger-1: 26px;
    --larger-2: 42px;
    --larger-3: 68px;
    --largest: 110px;  
}

/* Main page */
body {
    background-color: var(--background-grey);
}

main {
    max-width: 1440px;
    max-height: 900px;
    min-height: 700px;
    min-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: none;
}

.column {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--dark-grey);
}

.turn-identifier img {
    height: 16px;
}

.turn-identifier {
    font-size: var(--larger-1);
}

.message {
    min-height: 35px;
    opacity: 0;
    transition: opacity 200ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-active {
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    border: 1px solid var(--dark-alert);
    background-color: var(--light-alert);
    opacity: 1;
}

.ui-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 164px;
}

/* Game grid */
.grid {
    height: 20em;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    width: 100%;
    height: 33.33%;
    display: flex;
}

.square {
    height: 100%;
    width: 33.33%;
    transition: all 2s;
    background-size: cover;
}

.square:hover {
    background-color: var(--lightest-grey);
    cursor: pointer;
}

.first-row, .second-row {
    border-bottom: 2px solid var(--dark-grey);
}

.first-column, .second-column {
    border-right: 2px solid var(--dark-grey);
}

/* Symbols */
.cross {
    background-image: url("../images/cross.svg");
}

.naught {
    background-image: url("../images/naught.svg");
}